{% extends "base.html" %}

{% block title %} - Practice{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ url_for('static', filename='AutoScroller.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='timer.js') }}"></script>
<script src="http://connect.facebook.net/zh_TW/all.js"></script>
<script type="text/javascript">
	//$(a:target).append("(Opens in New Window)");

	var MODE = 0;	
	var options = {

	}
	
	function Reflash()
	{
		$('#cover').animate(
			{top:'-10px'},
			50,'swing',
			function (){
				$('#cover').animate({top:'20px'},50);
			});
	}
	
	var strList_ = new Array();
	var CurrPos_ = 0;
	// 處理文字, 將其分段
	function ProcStr(gap)
	{
		$('#out').hide();
		var str_ = $('#out').html();
		//alert(str_);
		
		//分段整理
		var num_ = Math.floor(str_.length / gap + 1);	//分段數量
		//alert(Math.floor(num_));
		//alert(num_);
		//strList_ = new Array(ParseInt(num_));
		strList_ = [];
		var count_ = 0;
		for ( var i=0 ; i<num_ ; i++ )
		{
			var startPos_ = i * gap;
			var endPos_ = startPos_ + gap;
			if ( endPos_ > str_.length )
			{
				//alert("!!");
				endPos_ = str_.length;
			}
			//strList_[ count_ ] = str_.substring(startPos_, endPos_);
			strList_.push( str_.substring(startPos_, endPos_) );
			//alert(startPos_+","+ endPos_+","+gap);
			count_++;
		}
		
		//alert(count_);
		$('#sudo').html(strList_[0]);
	}
	
	function NextStr()
	{
		//$('#out').html(strList_.length);
		CurrPos_++;
		if ( CurrPos_ >= strList_.length )
		{
			CurrPos_ = 0;
			$('#sudo').html("<b>完了!!!!</b>");
			return ;
		}	
		$('#sudo').html(CurrPos_+":"+strList_[CurrPos_]);
		//$('#sudo').html(CurrPos_+"<b>完了11!!!!</b>"+strList_[1]);
		Reflash();
	}
	
	//設定介面
	function setup()
	{		
		// Dialog
		$('#setupDlg').dialog({
			//autoOpen: false,
			title: "設定",
			modal: true,
			resizable: false,
			width: 450,
			buttons: {
				"Ok": function() {
					ProcStr( parseInt($('#lineWords').val()) );
					$(this).dialog("close");
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});
	}

	//切換模式
	function chgMode(mode){
		MODE = mode;
		if (mode == 0){
			$("#modeFlash").show();
			$("#modeReader").hide();
		}
		else if (mode==1){
			$("#modeFlash").hide();
			$("#modeReader").show();	
		}
	}

	function onBtnStartClick(){
		Scroller.Start();
		cTimer.OutputObj = "val";
		cTimer.Start('s');
	}

	function onBtnPauseClick(){
		Scroller.Pause();
		cTimer.Pause();
	}

	function onBtnResetClick(){
		Scroller.Reset();
		cTimer.Reset();
	}

	function fisherYates ( myArray ) {
	  var i = myArray.length, j, temp;
	  if ( i === 0 ) return false;
	  while ( --i ) {
	     j = Math.floor( Math.random() * ( i + 1 ) );
	     temp = myArray[i];
	     myArray[i] = myArray[j]; 
	     myArray[j] = temp;
	   }
	}

	//設定找字測驗
	function onBtnReadSet(){
		$("#findContent").empty();
		//alert("onBtnReadSet");
		var findStr_ = $("#txFind").val();
		//var len_ = findStr_.length;
		var newStr_ = findStr_.split('');
		var newStr1_ = newStr_.slice();
		fisherYates(newStr_);
		//alert(newStr_);
		var cnt_ = 0;
		for(var i=0; i<newStr_.length; i++) {
			var topPos_ = 130 * Math.floor(i/3) + 60;
			var leftPos_ = 130*(i%3) + 100;
			//alert(i+":"+leftPos_);
			$('<span>').html("<b>"+newStr_[i]+"</b>").css({
				"width":"18",
				"height":"18",
				"text-align":"center",
				"transform": "scale(5,5)",
				"-webkit-transform": "scale(7,7)",
				"position":"absolute",
				"top": topPos_,
				"left":leftPos_,
				"background-color":"#98AFC7"
			})
			.data("idx", i)
			.click(function(){
				//alert($(this).data("idx"));
				alert($(this).text()+":"+newStr1_[cnt_]);
				if ($(this).text() == newStr1_[cnt_])
					cnt_++;
				else
					alert("wrong!!");
			})
			.appendTo('#findContent');
    	}
	}

	function onBtnFacebookClick(){

	    FB.init({
	      appId      : '253775011430638',                        // App ID from the app dashboard
	      //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
	      status     : true,                                 // Check Facebook Login status
	      xfbml      : true                                  // Look for social plugins on the page
	    });
    
		 FB.login(function(response) {
		   if (response.authResponse) {
		     console.log('Welcome!  Fetching your information.... ');
		     FB.api('/me', function(response) {
		       console.log('Good to see you, ' + response.name + '.');
		     });
		   } else {
		     console.log('User cancelled login or did not fully authorize.');
		   }
		 });
		// FB.api('/me', function(response) {
		// 	//alert(response);
		//   alert('Your name is ' + response.name);
		// });
	}

	function facebookInit(){
		$.ajaxSetup({ cache: true });
		  $.getScript('//connect.facebook.net/zh_TW/all.js', function(){
		    window.fbAsyncInit = function() {
		      FB.init({
		        appId: '253775011430638',
		        //channelUrl: '//yourapp.com/channel.html',
		      });       
		      $('#loginbutton,#feedbutton').removeAttr('disabled');
		      FB.getLoginStatus(updateStatusCallback);
		    };
		  });
	}

	$(document).ready(function() {
		ProcStr(5);
		//chgMode(1);
		//$('#modeReader').autoscroll(AUTOSCROLL_Y);
		//autoScroller('modeReader',10);
		//$("#scrollContent").html( $('#out').html() );
		Scroller.AutoScroll('scrollContent');
		Scroller.OnStop = function(){
			cTimer.Pause();
			$("#modalBtn").click();
		}
		
	});

	$(function() {
		$( "#slider" ).slider({
			range: "max",
			min: 1,
			max: 10,
			value: 1,
			slide: function( event, ui ) {
				Scroller.Speed = ui.value * 100;
			}
		});
	});

</script>  
{% endblock %}

{% block extra_css %}
<style type="text/css">
	#scrollContent {
		width: 500px;
		height: 300px;
		border: 1px solid #000;
		overflow: hidden;
		text-align: left;
	}

	#scrollContent div {
		width: 500px;
	}

	.over  
	{
		position: relative;
		//text-align: center;
		top: 20px;
		/*left: 20px;*/
		height:40px;
		z-index: 2;
		background-color: gray
	}

	.under 
	{
		position: relative;
		top: 0px;
		/*left: 20px;*/
		height:20px;
		z-index: 1;
		/*background-color: blue*/
	}

	#findContent {
		width: 500px;
		height: 400px;
		border: 1px solid #000;
		overflow: hidden;
		text-align: left;
	}

</style>
{% endblock %}



{% block content %}

<div id="fb-root"></div>
<script>
	(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=253775011430638";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

	<h1>Sudu - Practice</h1>
	<div class="metanav" >
		{% if not session.user_id %}
			<a href="{{ url_for('login') }}">log in</a>
		{% else %}
			<a href="javascript:" onclick="setup();">設定</a> | 
			<a href="{{ url_for('logout') }}">log out [{{g.user.account}}]</a>
		{% endif %}
	</div>
	<hr>

	<!-- Test Function -->
	<a id="modalBtn" data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">查看演示案例</a>
	<a id="facebookBtn" href="#" class="btn btn-primary btn-large" onclick="onBtnFacebookClick()">Facebook</a>


	<h2>{{Text.title}}</h2>

	<!-- 模式選單 -->
	<ul class="nav nav-pills ">
<!-- 			<li><a href="#" onclick="chgMode(0)">快閃模式</a></li>
		<li><a href="#" onclick="chgMode(1)">讀字模式</a></li> -->
		<li><a href="#flash" data-toggle="tab">{{_("快閃模式")}}</a></li>
		<li><a href="#read" data-toggle="tab">{{_("讀字模式")}}</a></li>
		<li class="active"><a href="#find" data-toggle="tab">{{_("找字測驗")}}</a></li>
	</ul>

	<div class="tab-content">
		<!-- 快閃模式 -->
		<div id="flash" class="tab-pane">
		{% include "sudu/part_flash.html" %}
		</div>

		<!-- 讀字模式 -->
		<div id="read" class="tab-pane ">
		{% include "sudu/part_read.html" %}
		</div>

		<!-- 找字測驗 -->
		<div id="find" class="tab-pane active">
		{% include "sudu/part_find.html" %}
		</div>
	</div>

	<!-- 結算視窗 -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="myModalLabel">恭喜!!</h3>
		</div>
		<div class="modal-body">
			<h4>恭喜你做完測驗</h4>
			<p>請問是否要發佈至Facebook</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">关闭</button>
			<button class="btn btn-primary">Facebook</button>
			<button class="btn btn-primary">Save changes</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>

	<!-- 設定視窗 -->
	<div id="setupDlg" title="" style="display:none;">
		{% include "sudu/part_option.html" %}
	</div>	

{% endblock %}
