{% extends "base.html" %}

{% block title %} - NewArticle{% endblock %}

{% block extra_script %}
<script type="text/javascript">
	var wordNum = 0;
	//計算字數
	function reflashWords()
	{
		++wordNum;
		var len_ = $('#content').text().length;
		$('#words').html("字數："+len_);
	}		
	
</script>  
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
	<h1>新增文章</h1>		
	
<!-- 	<div class='form'>
		<form action="" method="post">		  
		標題：<input name="title" type="text"><br />
		內文：<br />
		<textarea id="content" cols=60 rows=10 name="content" onkeydown="reflashWords();"></textarea>
		<br />
		<input type="radio" name="authority" value="public" /> 公開
		<input type="radio" name="authority" value="private" checked="checked" /> 私用<br />
		<input value="送出" type="submit">		
		</form>
	</div> -->	

	<form action=''>
		<legend><strong>新增文章</strong></legend>
		{{ form.title.label }}{{ form.title(class="span2") }}</br>
		{{ form.content.label }}{{ form.content(class="input-xxlarge",rows='15')|safe }}</br>
		{{ form.authority.label }}{{ form.authority(class="radio") }}</br>
		{{ form.submit(type="submit",class="btn btn-success btn-large") }}
	</form>

{% endblock %}