{% extends "base.html" %}

{% block title %} - UserProfile{% endblock %}

{% block extra_script %}
	<script type="text/javascript">		
		function Reflash(){
			$('#cover').animate({top:'-10px'},50,'swing',function (){$('#cover').animate({top:'20px'},50);});
		}	
				
		//更換大頭貼
		function ChgHeadImg(){
			var title_ = "";
			var data_ = "";
			title_ = "上傳圖片";
			/*
			data_ =
			"	<div class='login'>" +
			"		<form action='{{ url_for('upImg') }}' method='post' enctype='multipart/form-data'>"+
			"			<dl>"+
			"			<img src='/static/images/NoHead.png' height='42' width='42'/>"+
			"			<dt>請選擇要上傳的圖片: </dt>"+
			"			<dd><input type='file' name='file'/> </dd>"+
			"			<dd><input type='submit' value='Upload'/></dd>"+
			"			</dl>"+
			"		</form>"+
			"	</div>"	;
			*/
			data_ = $('#login').html();
			
			$('#headImgDlg').html( data_ );
			
			// Dialog
			$('#headImgDlg').dialog({
				//autoOpen: false,
				title: title_,
				modal: true,
				resizable: false,
				width: 450
			});	
		}

		// 取得頭像
		function getHeadImg(){
			d = new Date();	
			var url_ =  "{{ url_for('static', filename='users/'+Member.account+'/head.jpg') }}"
			url_ += "?" + +d.getTime();
			$(".headImg").attr("src",url_);
		}
</script>  
{% endblock %}

{% block extra_css %}
{% endblock %}


{% block content %}

	<h1>{{Member.account}}</h1>

	{% for message in get_flashed_messages() %}
		<div class="alert alert-block fade in alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div class="alert-info">{{ message }}</div>
		</div>
	{% endfor %}
	
	<!-- 使用者資訊 -->
	<div class="profile">
		<!--<p><img src="/static/images/NoHead.png" alt="Smiley face" height="42" width="42"/></p> -->
		<p><img class="headImg" onclick="ChgHeadImg()" alt="Smiley face" height="42" width="42"/></p>
		帳號：{{Member.account}}</br>
		身份：{{Member.authority}}</br>
	</div>
	</br>

	<!-- 功能導覽 -->
	<div id="mgrNav">
		<a class="btn btn-primary btn-large" href="{{ url_for('newArticle') }}">
			<i class="icon-plus"></i>新增文章
		</a>
	</div>
	<hr>

	{% if Entries %}
	<div class="entriesList">
		<center><div id="EntriesInfo">共{{ Entries.count() }}筆</div></center>
		<ul class=entries>
		{% for entry in Entries %}
		<li>
			<h2>
				{{ entry.title }}
				{% if session.user_id %}
					<a href="{{ url_for('sudu',ID=entry.index) }}">練習</a>
				{% endif %}
			</h2>
		
		{{ entry.content|safe }}
		{% else %}
		<li><em>Unbelievable.  No entries here so far</em>
		{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div id="headImgDlg" title="" style="display:none;"></div>
	<div id='login' style="display:none;">
		<img class="headImg" height='126' width='126'/>
		<form action='{{ url_for('upImg') }}' method='post' enctype='multipart/form-data'>
			請選擇要上傳的圖片: </br>
			<input type='file' name='file'/></br>
			<input type='submit' value='Upload'/>
		</form>
	</div>

	<script type="text/javascript">
		getHeadImg();
	</script>
{% endblock %}
